
body{
    font-family: Tahoma, "Trebuchet MS", sans-serif;
    font-size: 30px;
    padding: 5px;
    margin: 10px;
}

.container {
    display: flex;
    align-items: center; 
   padding-left: 10px;
  }
img {
    height: 500px;
    width: 500px;
    border-radius: 30px;
    margin: auto;
    float: left;
    padding: 5px;
}


iframe {
    height: 600px;
    width: 600px;
}